.img {
  float: left;
  width: 180px;
  margin-right: 20px;
}

.pub {
  float: left;
  margin-top: 5px;
  max-width: 760px;
  padding: 0px;
  list-style-type: none;
  font-size: 18px;
}

.paper {
  font-weight: 550;
}

.conference {
  color:rgb(0,75,0);
}

.conference a {
  color:rgb(0,75,0);
}

.author {
  color:	#778899;
}

