.img {
  float: left;
  width: 180px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.pub {
  float: left;
  max-width: 760px;
  list-style-type: none;
}

.paper {
  font-weight: 550;
}

.conference {
  color:rgb(16,122,145);
}

.conference a {
  color:rgb(16,122,145);
}

.author {
  color:	#778899;
}

